/* .container-fluid {
    background-color: rgb(98, 28, 163);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
   */


   .c-item {
      height: 850px;
   }

   .c-img {
      height: 100%;
      object-fit: cover;
      filter: brightness(0.8);
   }

   .c-overview {
      height: 200px;
      background-color: rgb(57, 29, 83);
      color: red;
   }

   .card-wrapper {
      column-gap: 15px;
   }