/* .container-fluid {
    background-color: rgb(98, 28, 163);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
   */

   header {
      width: 100vw;
   }

   body {
      font-family: 'Roboto', sans-serif;
   }

   main {
      width: 100vw;
      /* background-color: black; */
      background-image: radial-gradient(circle at 20% 30%, #000000, transparent),
                    /* Second radial gradient layer */
                    radial-gradient(circle at 80% 70%, #974c21, transparent),
                    /* Third radial gradient layer */
                    radial-gradient(circle at 50% 50%, #262675, transparent);

   }


   footer {
      width: 100%;
      z-index: 1;
      color: white;
   }

   .c-item {
      height: 925px;
   }

   .c-img {
      height: 100%;
      object-fit: cover;
      filter: brightness(0.8);
   }

   .c-overview {
      height: 200px;
      background-color: rgb(57, 29, 83);
      color: red;
   }

   

   #ship-facts {
      height: 800px;
      width: 100%;
      text-align: center;
   }

   #cruise-ship {
      padding-top: 100px;;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
      z-index: 2;
   }

   #copyright {
      font-size: 14px;;
   }

   .card {
      /* width: 400px; */
      height: 500px;
      background-color: #111111;
   
   }

   .border-light-subtle {
      border-color: #787878;
   }
  

   .planet-card-img {
      height: 200px;
      width: auto;
      object-fit: cover;
   }

   .banner {
      padding-top: 30px;
   }

   .banner-img {
      height: 200px;
      width: auto;
      object-fit: cover;
      border-radius: 10px;
   }

   .offcanvas-img {
      height: 200px;
      display: flex;
      border-radius: 10px;
      flex-direction: row;
   }

   ul.modal-sites {
      text-align: left;
      margin: 0;
      padding: 10px 0 0 0;
   }

  div.dest-list, li.list-site {
      font-size: 16px;
      font-weight: bold;
      list-style-type: none;
      text-align: left;
  }   

  .dest-description {
   font-size: 16px;
   
}

.learn-more-btn {
   background-color: #ff9f2e;
   border-color: #ff9f2e;
   color: black;
   font-weight: bold;
   margin-right: 16px;
   margin-bottom: 16px;
}

.learn-more-btn:hover, .save-itin-btn:hover,
 #view-itin-btn:hover {
   background-color: #5b5b5b;
   border-color: #5b5b5b;
   color: white;
   
}

.save-itin-btn {
   background-color: #ff9f2e;
   border-color: #ff9f2e;
   color: black;
   font-weight: bold;
}

#view-itin-btn {
   background-color: #ff9f2e;
   border-color: #ff9f2e;
   color: black;
   font-weight: bold;
}

/* .modal-dialog, .modal-content {
   height: 850px;
} */

/* .modal-content {
   background-color: rgb(94, 108, 124);
} */


.modal-content {
   padding-left: 40px;
   padding-right: 0px;
   display: grid;
   grid-template-columns: 1fr 320px;
   grid-template-rows:50px 1fr 100px;
   grid-template-areas: 
   ". header"
   "content content"
   ". footer";
   background-color: #f1f1f1;
}

.modal-body {
   padding-left: 5px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px;
   grid-area: content;
   display: grid;
   grid-template-columns: 1fr 320px;
   
}

h1.package-label {
   font-size: 32px;
}


p.modal-description {
   font-size: 16px;
} 

.modal-header {
   grid-area: header;
   background-color: #ffe5c6;
   border-top-left-radius: 0;
   
}

.modal-footer {
   grid-area: footer;
   background-color: #ffe5c6;
   border-bottom-left-radius: 0;
}




/* div.banner {
   
} */

.overview {
   padding-top: 30px;
}

.supply-list {
   font-size: 14px;
}

/* div#modal-dest-desc {
   
} */

/* div.description {
   
} */

h5#itineraryLabel {
   font-size: 18px;
}

div#left-group {
   display: flex;
   flex-direction: column;
   padding-right: 20px;
   justify-content: space-evenly;
}

div#right-group {
   display: flex;
   flex-direction: column;
   background-color: #ffe5c6;
   padding-left: 20px;
   padding-right: 20px;
   justify-content: space-evenly;

}


div#offcanvasRight {
   width: 525px;
}

div.itin-image-btn {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: flex-start;
   column-gap: 20px;
}



.btn-delete {
   position: relative;
   border-radius: 50%;
   background-color: #FF6A6A;
   width: 40px;
   height: 40px;
   border: none;
}

.btn-delete::before,
.btn-delete::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-delete::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}





/* Responsive styles for smaller screens (iPhone breakpoint) */
@media screen and (max-width: 768px) {

   .dest-description {
      font-size: 16px;
      max-height: 68px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   .modal-content {
      padding-left: 10px;
      padding-right: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr auto; /* Changed the footer row to 'auto' to accommodate button height */
      grid-template-areas: 
      "header"
      "content"
      "footer";
   }

   .modal-body {
      padding-left: 10px;
      padding-right: 10px;
      grid-template-columns: 1fr;
   }

   /* Adjust font sizes for smaller screens */
   h1.package-label {
      font-size: 24px;
   }

   p.modal-description {
      font-size: 14px;
   }

   /* Ensure the image scales down proportionally */
   .banner-img {
      max-width: 100%;
      height: auto;
   }

   /* Center the button within the footer */
   .modal-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent; /* Remove the gray background color */
   }

   div#right-group {
      background-color: transparent;
   }

   div.modal-header {
      background-color: transparent;
   }

   .supply-list {
      padding-top: 25px;
      font-size: 14px;
   }

   .dest-list {
      padding-top: 25px;
   }
}





