/* .container-fluid {
    background-color: rgb(98, 28, 163);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
   */

   header {
      width: 100vw;
   }

   main {
      width: 100vw;
      /* background-color: black; */
      background-image: radial-gradient(circle at 20% 30%, #000000, transparent),
                    /* Second radial gradient layer */
                    radial-gradient(circle at 80% 70%, #974c21, transparent),
                    /* Third radial gradient layer */
                    radial-gradient(circle at 50% 50%, #262675, transparent);

   }

   
   

   footer {
      width: 100%;
      z-index: 1;
      color: white;
   }

   .c-item {
      height: 925px;
   }

   .c-img {
      height: 100%;
      object-fit: cover;
      filter: brightness(0.8);
   }

   .c-overview {
      height: 200px;
      background-color: rgb(57, 29, 83);
      color: red;
   }

   

   #ship-facts {
      height: 800px;
      width: 100%;
      text-align: center;
   }

   #cruise-ship {
      padding-top: 100px;;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
      z-index: 2;
   }

   #copyright {
      font-size: 14px;;
   }

   .card {
      /* width: 400px; */
      height: 500px;
      background-color: #111111;
   
   }
  

   .planet-card-img {
      height: 200px;
      width: auto;
      object-fit: cover;
   }


  .dest-list {
      font-size: 16px;
      font-weight: bold;
  }   

  .dest-description {
   font-size: 16px;
}

.learn-more-btn {
   background-color: #F28300;
   border-color: #F28300;
   color: black;
   font-weight: bold;
   margin-right: 16px;
   margin-bottom: 16px;
}

.learn-more-btn:hover, .save-itin-btn:hover,
 #view-itin-btn:hover {
   background-color: #5b5b5b;
   border-color: #5b5b5b;
   color: white;
   
}

.save-itin-btn {
   background-color: #F28300;
   border-color: #F28300;
   color: black;
   font-weight: bold;
}

#view-itin-btn {
   background-color: #F28300;
   border-color: #F28300;
   color: black;
   font-weight: bold;
}

.modal-dialog, .modal-content {
   height: 850px;
}

.modal-content {
   background-color: rgb(231, 177, 177);
}
